[submodule "Nuke"]
	path = Nuke
	url = git@github.com:kean/Nuke.git
[submodule "Nuke-Gifu-Plugin"]
	path = Nuke-Gifu-Plugin
	url = git@github.com:kean/Nuke-Gifu-Plugin.git
[submodule "Gifu"]
	path = Gifu
	url = git@github.com:kaishin/Gifu.git
[submodule "Preheat"]
	path = Preheat
	url = git@github.com:kean/Preheat.git
[submodule "SwiftRichString"]
	path = SwiftRichString
	url = git@github.com:malcommac/SwiftRichString.git
[submodule "SnapKit"]
	path = SnapKit
	url = git@github.com:SnapKit/SnapKit.git
[submodule "DateTools"]
	path = DateTools
	url = git@github.com:MatthewYork/DateTools.git
